version: '3'

volumes:
  phpcomrapadura-mysql-data:
    driver: local

services:

  mysql:
    image: mysql:5.7
    container_name: ${DATABASE_HOST}
    volumes:
      - phpcomrapadura-mysql-data:/var/lib/mysql
    ports:
      - ${DOCKER_HOST_MYSQL}:3306
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=${DATABASE_DATABASE}
      - MYSQL_USER=${DATABASE_USER}
      - MYSQL_PASSWORD=${DATABASE_PASSWORD}

  app:
    image: ambientum/php:7.2-nginx
#    build:
#      dockerfile: ./.docker/app/Dockerfile
#      context: .
    container_name: phpcomrapadura-app
    volumes:
      - .:/var/www/app
    ports:
      - ${DOCKER_HOST_APP}:8080
    environment:
      - APP_ENV=dev
    links:
      - mysql