{% extends '@Admin/base_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_admin %}
    <div class="x_panel">
        <div class="x_content">
            !! Conteúdo do Dashboard !!
        </div>
    </div>
{% endblock %}