.login_content div .reset_pass {
    float: none;
}

body.website {
    background: url("../images/bg-nordestino.jpg");
}

div#social-media ul li {
    display: inline;
    margin-right: 17px;
}

div#social-media ul li:last-child{
    display: inline;
    margin-right: 0;
}

div#social-media ul {
    padding: 0;
}

div#social-media ul li a {
    color: #fff;
}

h1#title-message {
    margin-top: 40px;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

iframe {
    max-width: 100%;
}