{% extends 'base_login_admin.html.twig' %}

{% block title %}Autenticação{% endblock %}

{% block body_login_admin %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="animate form login_form">
        <section class="login_content">
            <br />
            <br />
            <form  method="post" action="{{ path('auth_default_login') }}">
                <h1>Área Administrativa</h1>
                <div>
                    <input type="email" autofocus name="email" class="form-control input-lg" placeholder="email@dominio.com.br" required />
                </div>
                <div>
                    <input type="password" name="password" class="form-control input-lg" placeholder="Sua senha de acesso..." required />
                </div>

                <div class="text-left">
                    <button class="btn btn-primary btn-lg submit" type="submit">
                        Entrar <i class="fa fa-sign-in"></i>
                    </button>
                    <a class="reset_pass" href="#">Esqueceu sua Senha?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <img src="{{asset('images/logo.png') }}" alt="PHP Com Rapadura" width="190" />
                        <p style="margin-top: 10px">
                            ©{{ "now"|date("Y") }} Todos os direitos reservados.<br />
                            <strong>Comunidade PHP Com Rapadura</strong>
                        </p>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}