{% extends 'base_login_admin.html.twig' %}

{% block title %}Autenticação{% endblock %}

{% block body_login_admin %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="animate form login_form">
        <section class="login_content">
            <br />
            <br />
            <form  method="post" action="{{ path('admin_default_login') }}">
                <h1>Área Administrativa</h1>
                <div>
                    <input type="email" name="_username" class="form-control" placeholder="email@dominio.com.br" required />
                </div>
                <div>
                    <input type="password" name="_password" class="form-control" placeholder="Sua senha de acesso..." required />
                </div>
                <div>
                    <button class="btn btn-default submit" type="submit">Log in</button>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©2016 All Rights Reserved. Gentelella Alela!</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}